.genres-section {
    background-color: #0c0c0c;
}

.genre-card {
    height: 180px; 
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.genre-card:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(255, 94, 0, 0.3);
}

.genre-title {
    color: #fff;
    font-weight: 800;
    font-size: 16px; 
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
}


.g-action { background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%); }
.g-drama { background: linear-gradient(135deg, #f9d423 0%, #ff4e50 100%); }
.g-adventure { background: linear-gradient(135deg, #00b09b 0%, #96c93d 100%); }
.g-cartoon { background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%); }
.g-comedy { background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%); }
.g-horror { background: linear-gradient(135deg, #434343 0%, #000000 100%); }